body{
	background: url('../../images/background/background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loginFooter{
  position: absolute;
  left: 0px;
  right:0px;
  bottom:0px;
  height:80px;
}
#myimage{
  height:50px;
  width:50px;
}
