input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}
.regAdminLoginForm{
	width:500px;
	background-color: rgba(181,189,197, 0.5);
	padding:30px;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.genericDivBottom{
  margin-bottom:20px;
}
.alignLeft{
  text-align: left;
}
.alignRight{
  text-align: right;
}
.genericDivTop{
  margin-top:20px;
}
.genericImageCircle{
  height:100px;
  width:100px;
  border-radius: 100px;
}
#myimage{
  height:50px;
  width:50px;
}
.myimage-md{
	height:100px;
  width:100px;
	border-radius: 50px;
}
.genericDivTop-sm{
	margin-top:10px;
}
.loader{
  background-color: red;

  height:20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  transition: width 1s;
}
.flexContainerMiddle{
	display:flex;

	flex-direction: row;
	align-items: center;
   justify-content: center;
   position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.semInfo{
  padding: 20px;
  background-color:#1b2733;
  margin-top: 10px;
}
.autoFill{
  width:100%;
}
.tableContainer{
  height:500px;
  overflow-y: scroll;
}
.overFlowY{
	overflow-y: scroll;
}
.overFlowX{
	overflow-x: scroll;
}
.rowClickable:hover{
  cursor: pointer;
}
.genericDivPadTop{
  padding-top: 20px;
}
.maxHeightContainer{
  max-height: 300px;
  overflow-y: scroll;
}
.tableModalContainer{
  height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.tableModalBigContainer{
  height: 350px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.tableModalSmallContainer{
  height: 100px;
	overflow-y: scroll;
	overflow-x: scroll;
}
.bordered{
  border-style: solid;
  border-width: 1px;
}
.inlineDiv{
    display: inline-block;
}
.cssload-thecube {
	width: 69px;
	height: 69px;
	margin: 0 auto;
	margin-top: 46px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}
.newlyadded{
transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.modal { overflow: auto !important; }
.notify-bubble {
	position: absolute;
	top: -8px;
	right: -7px;
	padding: 2px 5px 2px 6px;
	background-color: green;
	color: white;
	font-size: 0.65em;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
	display: none;
}

#collegeTableBody{
	font-size: 15px;
  color:black;
}
.table{
	color:black;
}
label{
 color:black;
}
h2, h4, h1, .black{
	color:black;
}