#contractAdmin{
  background-color: #4a5e71;
}
.thisImage{
  height:200px;
  width:150px;
}
.imageWrapper {
  position: relative;
  display: inline-block;
}
.close:before {
  content: '✕';
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.table{
  color:black;
}