
#cardTitleCollege{
  background-color: rgb(0, 179, 60);
}
#cardBodyCollege{
  background-color: rgb(0, 128, 43);
}
#cardFooterCollege{
  background-color: rgb(0, 100, 0);
}

#cardTitleSenior{
  background-color: rgb(0, 230, 184);
}
#cardBodySenior{
  background-color: rgb(0, 204, 153);
}
#cardFooterSenior{
  background-color: rgb(0, 179, 134);
}

#cardTitleJunior{
  background-color: rgb(68, 26, 255);
}
#cardBodyJunior{
  background-color: rgb(71, 117, 209);
}
#cardFooterJunior{
  background-color: rgb(0, 60, 179);
}

#cardTitleJunior{
  background-color: rgb(68, 26, 255);
}
#cardBodyJunior{
  background-color: rgb(71, 117, 209);
}
#cardFooterJunior{
  background-color: rgb(0, 60, 179);
}

#cardTitleElementary{
  background-color: rgb(0, 77, 77);
}
#cardBodyElementary{
  background-color: rgb(0, 102, 102);
}
#cardFooterElementary{
  background-color: rgb(0, 51, 51);
}

.cardTitle{
  color:white;
  margin:0px;
}
.cardBody{
  color:white;
  margin:0px;
  padding:15px;
}
.cardFooter{
  text-align: right;
  color:white;
  margin:0px;
}
.graphTitle{
  background-color: rgb(220, 220, 220);
}
.eventsTitle{
  background-color: rgb(0, 0, 0);
  padding:5px;
  color:white;
}
.eventsBody{
  height: 200px;
  overflow-y: scroll;
  background-color: rgb(38, 38, 38);
}
.eventsBody::-webkit-scrollbar {
  width: 12px;
}

.eventsBody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.eventsBody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.eventsFooter{
  background-color: rgb(38, 38, 38);
  text-align: right;
  padding:5px;
  padding-right: 10px;
}
.eventContainer{
  
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left:5px;
}
.graphCard{
  border: 1px solid;
  padding: 0px;
   box-shadow: 5px 5px rgba(68, 68, 68, 0.1);;
}
.counselingGraphBody{
  height:200px;
}
